@media(max-width: 1312px){
    .sidebar{
        background-color: white;
        position: fixed;
        top: 56px;
        bottom: 0;
        left: 0;
        width: 72px;
        padding-top: 5px;
        z-index: 200;
    }
    
    .sidebar-link{
        height: 74px;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    } 
    
    .sidebar-link:hover{
        background-color: rgb(240, 240, 240);
    }
    
    .sidebar-link img{
        height: 24px;
        margin-bottom: 5px;
    }
    
    .sidebar-link p{
        font-size: 10px;
    }
}

@media(min-width: 1312.1px){
    .sidebar{
        background-color: white;
        position: fixed;
        top: 56px;
        bottom: 0;
        left: 0;
        width: 240px;
        padding-top: 12px;
        z-index: 200;
    }
    
    .sidebar-link{
        display: flex;
        align-items: center;
        padding: 7px 20px;
        cursor: pointer;
    } 
    
    .sidebar-link:hover{
        background-color: rgb(240, 240, 240);
    }
    
    .sidebar-link img{
        height: 24px;
        margin-bottom: 5px;
        margin-right: 10px;
    }
    
    .sidebar-link p{
        font-size: 12px;
    }
}